<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walsin.coil.domain.mybatis.mapper.orp.ORPP032Mapper">
    <select id="getAllFromXml" resultType="com.walsin.coil.domain.entity.orp.ORPP032">
        select * from tborpm032 where PLANT_CODE='TC'
    </select>

</mapper>